/*[FONTES]*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'Android';
  src: url('../fontes/idroid.otf') format('opentype');
}
/*[/FONTES]*/

/*[ROOT]*/
:root {
  /* [VARIAVEIS] */
  --cor1: #D8E8EA;
  --cor2: #128C7E;
  --cor3: #5EB595;
  --cor4: #3D7561;
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-titulos: 'Bebas Neue', cursive;
  --fonte-android: 'Android', sans-serif;
}

/*[CONFIG - GLOBAIS]*/
* {
  margin:0px;
  padding:0px;
  font-family: var(--fonte-padrao);
}

/*[ESTILO]*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--cor1);
  color: white;
}

/* [CABEÇALHO] */
header {
  width: 100%;
  margin-bottom: 10px;
  background-color: var(--cor3);
}

/* [TITULO E PARAGRÁFO NO CABEÇALHO] */
header > h1 {
  font-family: var(--fonte-titulos);
  margin: 10px;
  text-align: center;
  letter-spacing: 3px;
  color: var(--cor1);
}

header > p {
  text-align: center;
  font-family: var(--fonte-padrao);
  margin: 5px 10px;
}

/* [MENU] */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--cor2);
  margin: 10px;
  height: 30%;
  width: 90%;
  border-radius: 30px;
}

nav > a {
  color: white;
  text-decoration: none;
  margin: 1%;
  text-align: center;
  padding: 5px;
}

/* [CONTEUDO] */
main {
  width: 90vw;
  background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
  border-radius: 0px 0px 15px 15px;
  margin: 15px 0px;
}

/* [RESPONSIVIDADE DO ARTIGO] */
main > article {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

/* [TITULO H2 E PARAGRAFOS] */
main h2#titulo {
  background: none;
  font-family: var(--fonte-android);
  font-size: 6.2vw;
  margin: 10px;
}

main h2 {
  background-image: linear-gradient(to right, var(--cor3), transparent);
  font-family: var(--fonte-android);
  margin: 10px;
  padding: 5px;
}

article > p {
  text-align: justify;
  margin: 10px;
}

/* [NAGAVEGAÇÃO EM LINKS] */
main > article a {
  color: white;
  background-color: var(--cor3);
  text-decoration: none;
  padding: 2px;
}

main > article a:hover {
  background-color: var(--cor1);
  color: var(--cor2);
  text-decoration: underline;
}

/* [DESCRIÇÃO DE IRINA BLOK] */
article#irina {
  width: 100%;
  background-color: var(--cor1);
  color: var(--cor2);
}

article#irina > div {
  max-width: 800px;
  margin: auto;
}

article#irina > div > h2 {
  background:none;
  margin: 15px;
}
/* [BUGDROID RESPONSIVO] */
main img {
  display: block;
  width: 95%;
  margin: auto;
}

main img#bugdroid {
  width: 50%;
}

/* [VÍDEO RESPONSIVO] */
div#video {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}

div#video > iframe {
  top: 3%;
  left: 8%;
  width: 85%;
  height: 93%;
  position: absolute;
}

/* [EXTRAS] */
aside {
  background-color: var(--cor1);
  color: var(--cor2);
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

aside > h3 {
  font-family: var(--fonte-android);
  margin: 10px;
}

aside > p {
  text-align: justify;
}

aside > ul {
  list-style-type: '';
  list-style-position: inside;
  columns: 2;
  margin: 20px;
}

/* [RODAPÉ] */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  background-color: var(--cor2);
  color: var(--cor1);
  margin: 10px;
  margin-bottom: 0px;
  font-size: 3.0vw;
  text-align: center;
}

/*[RESPOSIVIDADE DAS LETRAS]*/
@media screen and (min-width: 701px) {

  header > h1 {
    font-size: 5.0em;
  }

  header > p {
    font-size: 2.5em;
  }

  nav > a {
    font-size: 2.5em;
  }

  main h2 {
    font-size: 4em;
  }

  article > p {
    font-size: 2.5em;
  }

  article#irina > div > h2 {
    font-size: 4em;
  }

  article#irina p {
    font-size: 2.5em;
  }

  aside > h3 {
    font-size: 4em;
  }

  aside > p {
    font-size: 2.5em;
  }

  aside > ul {
    font-size: 2.7em;
  }

}

@media screen and (max-width: 700px) {

  header > h1 {
    font-size: 2.0em;
  }

  header > p {
    font-size: 1.0em;
  }

  nav > a {
    font-size: 1.0em;
  }

  main h2 {
    font-size: 1.5em;
  }

  article > p {
    font-size: 1.0em;
  }

  article#irina > div > h2 {
    font-size: 1.5em;
  }

  article#irina > p {
    font-size: 1em;
  }

  aside > h3 {
    font-size: 1.5em;
  }

  aside > p {
    font-size: 1.0em;
  }

  aside > ul {
    font-size: 1.1em;
  }

}
/*[/ESTILO]*/
